body {
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #24243e, #302b63, #0f0c29);
	background: -o-linear-gradient(left, #24243e, #302b63, #0f0c29);
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Roboto;
}

h4, .fa {
	text-align: left;
	color: #46e9ff; 
}

h2 {
	text-align: center;
	margin-top: 100px ;
	color: #02fff7;
}

.fa-plus {
	float: right;
	margin-right: 20px;
}

.container {
	display: yes queen, display
}

ul {
	list-style: none;
	margin: 20px;
	padding: 0;
	position: relative;
	border: 1px solid #03a4a4; /*added border to todo list*/
	border-top: 2px solid #03a4a4;
}

li {
	height: 40px;
	line-height: 40px;
	color: #5bffff;
	background: rgba(13, 0, 35, 0.5); /*added for alternating bg colors on todo-list*/
}

li:nth-child(2n) {
	background: rgba(19, 0, 67, 0.5);
}

.text {
	padding-left: 10px;
}

.left {
	background: #e74c3c;
	height: 40px;
	text-align: center;
	color: white;
	display: inline-block;
	width: 0; 
	opacity: 0;
	transition: 0.2s linear;
	padding-left: 10px;
}

.right {
	background: #e74c3c;
	height: 40px;
	text-align: center;
	color: white;
	display: inline-block;
	width: 0; 
	opacity: 0;
	transition: 0.2s linear;
	position: absolute;
	right: 0px;
}

li:hover span{
	width: 35px;
	opacity: 1;
	padding-left: 10px;	/*added to fix the text being too close to the left when the icons comes out on mouse hover*/
	padding-right: 10px;
}

.todoinput {
	width: 100%;
	font-size: 18px;
	padding: 10px 10px 10px 15px;
	outline: none;
	/*box-sizing: border-box; <-- This isn't really required for our code*/
}

.editinput {
	height: 100%;
	width: 100%;
	outline: none;
	color:#302b63;
	background-color: #899da1;
}

input:focus {
	/*border around input box when selected,
	was disabled by default but i kinda liked it*/
	border: 3px solid #ffffff;

}

.completed {
	text-decoration: line-through;
	color: rgb(0, 254, 55); /* green seems more fitting for the "completed" vibe (previously grey) */
}